body {
  font-size: 16px;
  line-height: 1.4;
  @extend %dmsans-500;
  background-color: $white;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.container,
.container--big {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--big {
  max-width: 1800px;
}

.btn {
  color: #fff;
  background-color: #a3bbc8;
  padding: 20px 0 20px 30px;
  font-size: 15px;
  @extend %rubik-500;
  position: relative;
  max-width: 200px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $grey;
  }
}

.btn::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 26px;
  background-image: url(../images/slider/arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 10px;
}

.title {
  font-size: 36px;
  @extend %dmsans-700;
  margin-bottom: 25px;
  text-align: center;
  color: $title;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  &__item {

    &:not(:last-child) {
        margin-right: 30px;
    }
  }

  &__btn {
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    @extend %dmsans-700;
    color: $grey-200;
    transition: color 0.3s;

    &:hover,
    &:focus {
        color: $title;
    }
  }
}