$title: #191919;
$menu: #436372;
$default: #585858;
$bg: #fef7f0;
$slider: #243f4d;
$blue: #edf1f4;
$blue-100: #a3bbc8;
$blue-200: #1f2044;
$blue-300: #234969;
$white:#ffffff;
$orange: #fcd7b6;
$grey: #7b7b7b;
$grey-100: #414141;
$grey-200: #8b8b8b;
$dots: rgb(255, 255, 255);



%poppins-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

%dmsans-400 {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}