$title: #191919;
$menu: #436372;
$default: #585858;
$bg: #fef7f0;
$slider: #243f4d;


%poppins-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

%dmsans-400 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}