@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';
@import 'components/header';
@import 'components/slider';
@import 'components/footer';



.products {
    padding: 50px 0 185px;

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        max-width: 270px;
        min-height: 380px;
        text-align: center;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        overflow: hidden;
        &:hover {
            .products__link {
                transform: translateY(350%);
            }
        }

    }

    &__num {
        margin-bottom: 40px;
    }

    &__images {
        object-fit: cover;
        margin-top: 30px;
    }
          
    &__link {
        position: absolute;
        display: flex;
        transform: translateY(-450%);
        transition: transform 0.3s;
    }

    &__like,
    &__search,
    &__basket {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #fff;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        transition: background-color 0.5s;
        path {
            transition: fill 0.5s;
        }

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:hover,
        &:focus {
            background-color: #a3bbc8;
            path {
                fill:#fff;
            }
        }
    }

    &__name {
        font-size: 16px;
        color: $slider;
        @extend %dmsans-500;
        display: block;
    }

    &__price {
        font-size: 16px;
        color: $blue-100;
        @extend %dmsans-700;
    }

}